*{
    margin: 0;
    padding: 0;
}


/* --------nav------ */

.heder-trivndrum{
    min-height: 500px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/kovlam.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
nav .fas{
    display: none;
}
.logo{
    font-size: 28px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.nav-links{
flex: 1;
text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    position: relative;
    margin-right:0px;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 400ms ease-out;
}
.nav-links ul li:hover::after{
    width: 100%;  
}

/* ----------nave heding ----- */
.heding{
    text-align: center;
    padding-top: 80px;
}
.heding h2{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
}
.heding p{
    font-size: 10px;
    color: white;
    text-transform: uppercase;
}
.heding p br{
    display: none;
}

/* <!-- -------- trivnadrum-places --------- --> */

/* .trivnadrum-places{
background-color: rgb(226, 226, 226);
} */
.trivnadrum-places h3{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 30px;
}
.trivnadrum-places img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    transition: .4s;
}
.trivnadrum-places img:hover{
    box-shadow: 0 0 20px 0px rgba(133, 96, 96, 0.7)
}
.trivnadrum-places h5{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* <!-- --------footer--------- --> */

footer {
    margin-top: 100px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-color: rgb(151, 151, 151);
    }
    footer h4{
        text-transform: uppercase;
        font-size: 15px;
        color: white;
    }
    footer .row{
        align-items: center;
    }
    footer p{
    font-size: 10px;
    text-transform: uppercase;
    line-height: 10px;
    color: white;
    }
    .cpyrigt{
        text-align: center;
        margin-top: 20px;
    }
    hr{
        width: 100%;
        height: 2px;
        color: white;
    }

    


    .Previous-page{
        float: left;
        align-items: center;
        margin-top: 20px;
    }
    .Previous-page a{
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 15px;
        color: #0d6efd;
    }
    .Previous-page a:hover{
        color: #0dcaf0; 
    }
    .Previous-page .fas{
        color: #0d6efd;
    }
    .Previous-page .fas:hover{
        color: #0dcaf0;
    }
    .Previous-page span{
        margin-right: 5px;
    }
    .next-page{
        float: right;
        align-items: center;
    }
    .next-page a{
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 15px;
        color: #0d6efd;
    }
    .next-page a:hover{
        color: #0dcaf0; 
    }
    .next-page .fas{
        color: #0d6efd;
    }
    .next-page .fas:hover{
        color: #0dcaf0;
    }
    
    


#preloader{
    background: black url(images/loder.gif) no-repeat center center;
     background-size: 15%;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 100;
}
































@media (max-width:700px){

    /* -------navbar----- */
    .nav-links ul li{
        display: block;

    }
    .nav-links{
        position: absolute;
    background:#f44336 ;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: .4s;
    }
    nav .fas{
        display: block;
        margin: 10px;
        font-size: 20px;
        color: white;
    }


/* -----hedin g ----- */
    .heding h2{
        font-size: 35px;  
    }
    .heding h2 span{
        font-size: 20px;
    }
    .heding p{
        font-size: 10px;
    }

    /* ----------placexe ------- */
    .trivnadrum-places h3{
        font-size: 40px;
    }
    .trivnadrum-places h3 span{
        font-size: 17px;
    }

}